<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Category</h1>
<hr>
<form th:action="@{/category/save}" method="post" th:object="${category}">
    <label for="name">
        Name
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
    </label>
    <input th:field="*{name}" type="text" id="name">
    <br><br>
    <input type="submit" value="Save">
</form>
<hr>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cate : ${categories}" th:object="${cate}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>